In [1]:
import pandas as pd
import geopy.distance as geo

In [91]:
df = pd.read_csv(r'data.csv')

In [92]:
df

   LINEA       ESTACION                 lat                long
0      A         Acoyte  '-34.6182799671446  '-58.4364285288493
1      A        Alberti  '-34.6098335784398   '-58.401207534233
2      A       Carabobo  '-34.6266665931803  '-58.4567097975238
3      A  Castro Barros  '-34.6117702291255  '-58.4218156713706
4      A       Congreso  '-34.6092256843174  '-58.3926688246648
..   ...            ...                 ...                 ...
85     H      Las Heras  '-34.5874615464262  '-58.3972155751019
86     H           Once  '-34.6089352416215  '-58.4060363810352
87     H      Patricios  '-34.6384059882851  '-58.4057948259686
88     H       Santa Fe  '-34.5945253962188  '-58.4023761750349
89     H      Venezuela  '-34.6152421522706    '-58.40473171649

[90 rows x 4 columns]

In [93]:
# Slice lat and long columns
df['lat'] = df['lat'].str[1:]
df['long'] = df['long'].str[1:]

In [94]:
df

   LINEA       ESTACION                lat               long
0      A         Acoyte  -34.6182799671446  -58.4364285288493
1      A        Alberti  -34.6098335784398   -58.401207534233
2      A       Carabobo  -34.6266665931803  -58.4567097975238
3      A  Castro Barros  -34.6117702291255  -58.4218156713706
4      A       Congreso  -34.6092256843174  -58.3926688246648
..   ...            ...                ...                ...
85     H      Las Heras  -34.5874615464262  -58.3972155751019
86     H           Once  -34.6089352416215  -58.4060363810352
87     H      Patricios  -34.6384059882851  -58.4057948259686
88     H       Santa Fe  -34.5945253962188  -58.4023761750349
89     H      Venezuela  -34.6152421522706    -58.40473171649

[90 rows x 4 columns]

In [96]:
# Change data type of lat and long colums
df['lat'] = df['lat'].astype(float)
df['long'] = df['long'].astype(float)

In [97]:
df

   LINEA       ESTACION        lat       long
0      A         Acoyte -34.618280 -58.436429
1      A        Alberti -34.609834 -58.401208
2      A       Carabobo -34.626667 -58.456710
3      A  Castro Barros -34.611770 -58.421816
4      A       Congreso -34.609226 -58.392669
..   ...            ...        ...        ...
85     H      Las Heras -34.587462 -58.397216
86     H           Once -34.608935 -58.406036
87     H      Patricios -34.638406 -58.405795
88     H       Santa Fe -34.594525 -58.402376
89     H      Venezuela -34.615242 -58.404732

[90 rows x 4 columns]

### Order of subway stations - by line

In [21]:
df_a = df[df['linea'] == 'Linea A']
df_a['estacion'].values

array(['Acoyte', 'Alberti', 'Carabobo', 'Castro Barros', 'Congreso',
       'Lima', 'Loria', 'Pasco', 'Peru', 'Piedras', 'Plaza de Mayo',
       'Plaza Miserere', 'Primera Junta', 'Puan', 'Rio de Janeiro',
       'Saenz Peña', 'Flores', 'San Pedrito'], dtype=object)

In [ ]:
ordena = {
    'Acoyte' : 13,
    'Alberti' : 8,
    'Carabobo' : 16,
    'Castro Barros' : 11,
    'Congreso' : 6,
    'Lima' : 4,
    'Loria' : 10,
    'Pasco': 7,
    'Peru' : 2,
    'Piedras' : 3,
    'Plaza de Mayo' : 1,
    'Plaza Miserere' : 9,
    'Primera Junta' : 14,
    'Puan' : 15, 
    'Rio de Janeiro' : 12,
    'Saenz Peña' : 5, 
    'Flores' : 17, 
    'San Pedrito' : 18
}

In [22]:
df_b = df[df['linea'] == 'Linea B']
df_b['estacion'].values

array(['Angel Gallardo', 'Callao.B', 'Carlos Gardel', 'Carlos Pellegrini',
       'Dorrego', 'Echeverria', 'Federico Lacroze', 'Florida',
       'Leandro N. Alem', 'Los Incas', 'Malabia', 'Medrano', 'Pasteur',
       'Pueyrredon', 'Rosas', 'Tronador', 'Uruguay'], dtype=object)

In [ ]:
ordenb = {
    'Angel Gallardo' : 10,
    'Callao.B' : 5,
    'Carlos Gardel' : 8, 
    'Carlos Pellegrini' : 3,
    'Dorrego' : 12, 
    'Echeverria' : 16, 
    'Federico Lacroze' : 13, 
    'Florida' : 2,  
    'Leandro N. Alem' : 1, 
    'Los Incas' : 15, 
    'Malabia' : 11, 
    'Medrano' : 9, 
    'Pasteur' : 6,
    'Pueyrredon' : 7, 
    'Rosas' : 17, 
    'Tronador' : 14, 
    'Uruguay' : 4
}

In [23]:
df_c = df[df['linea'] == 'Linea C']
df_c['estacion'].values

array(['Avenida de Mayo', 'Constitucion', 'Diagonal Norte',
       'General San Martin', 'Independencia', 'Lavalle', 'Mariano Moreno',
       'Retiro', 'San Juan'], dtype=object)

In [ ]:
ordenc = {
    'Avenida de Mayo' : 5, 
    'Constitucion' : 9, 
    'Diagonal Norte' : 4,
    'General San Martin' : 2, 
    'Independencia' : 7,
    'Lavalle' : 3,
    'Mariano Moreno' : 6,
    'Retiro' : 1,
    'San Juan' : 8
}

In [24]:
df_d = df[df['linea'] == 'Linea D']
df_d['estacion'].values

array(['9 de julio', 'Agüero', 'Bulnes', 'Callao', 'Catedral',
       'Congreso de Tucuman', 'Facultad de Medicina', 'Jose Hernandez',
       'Juramento', 'Ministro Carranza', 'Olleros', 'Palermo',
       'Plaza Italia', 'Pueyrredon.D', 'Scalabrini Ortiz', 'Tribunales'],
      dtype=object)

In [ ]:
ordend = {
    '9 de julio' : 2,
    'Agüero' : 7,
    'Bulnes' : 8,
    'Callao' : 4,
    'Catedral' : 1,
    'Congreso de Tucuman' : 15,
    'Facultad de Medicina' : 5,
    'Jose Hernandez' : 14,
    'Juramento' : 15,
    'Ministro Carranza' : 12,
    'Olleros' : 13,
    'Palermo' : 11,
    'Plaza Italia' : 10,
    'Pueyrredon.D' : 6,
    'Scalabrini Ortiz' : 9,
    'Tribunales' : 3
}

In [25]:
df_e = df[df['linea'] == 'Linea E']
df_e['estacion'].values

array(['Avenida La Plata', 'General Belgrano', 'Boedo', 'Bolivar',
       'Catalinas', 'Correo Central', 'Emilio Mitre', 'Entre Rios',
       'Independencia.H', 'Jose Maria Moreno', 'Jujuy',
       'Medalla Milagrosa', 'Pichincha', 'Pza. de los Virreyes',
       'Retiro E', 'San Jose', 'Urquiza', 'Varela'], dtype=object)

In [ ]:
ordene = {
    'Avenida La Plata' : 13, 
    'General Belgrano' : 5, 
    'Boedo' : 12, 
    'Bolivar' : 4,
    'Catalinas' : 2, 
    'Correo Central' : 3, 
    'Emilio Mitre' : 15, 
    'Entre Rios' : 8,
    'Independencia.H' : 6, 
    'Jose Maria Moreno' : 14, 
    'Jujuy' : 10,
    'Medalla Milagrosa' : 16, 
    'Pichincha' : 9, 
    'Pza. de los Virreyes' : 18,
    'Retiro E' : 1, 
    'San Jose' : 7, 
    'Urquiza' : 11, 
    'Varela' : 17
}

In [26]:
df_h = df[df['linea'] == 'Linea H']
df_h['estacion'].values

array(['Caseros', 'Cordoba', 'Corrientes', 'Facultad de Derecho',
       'Hospitales', 'Humberto I', 'Inclan', 'Las Heras', 'Once',
       'Patricios', 'Santa Fe', 'Venezuela'], dtype=object)

In [ ]:
ordenh = {
    'Caseros' : 10, 
    'Cordoba' : 4, 
    'Corrientes' : 5, 
    'Facultad de Derecho' : 1,
    'Hospitales' : 12, 
    'Humberto I' : 8, 
    'Inclan' : 9, 
    'Las Heras' : 2, 
    'Once' : 6,
    'Patricios' : 11, 
    'Santa Fe' : 3,
    'Venezuela' : 7
}

### Order of stations - all

In [28]:
orden = {
    'Acoyte' : 13,
    'Alberti' : 8,
    'Carabobo' : 16,
    'Castro Barros' : 11,
    'Congreso' : 6,
    'Lima' : 4,
    'Loria' : 10,
    'Pasco': 7,
    'Peru' : 2,
    'Piedras' : 3,
    'Plaza de Mayo' : 1,
    'Plaza Miserere' : 9,
    'Primera Junta' : 14,
    'Puan' : 15, 
    'Rio de Janeiro' : 12,
    'Saenz Peña' : 5, 
    'Flores' : 17, 
    'San Pedrito' : 18,
    'Angel Gallardo' : 10,
    'Callao.B' : 5,
    'Carlos Gardel' : 8, 
    'Carlos Pellegrini' : 3,
    'Dorrego' : 12, 
    'Echeverria' : 16, 
    'Federico Lacroze' : 13, 
    'Florida' : 2,  
    'Leandro N. Alem' : 1, 
    'Los Incas' : 15, 
    'Malabia' : 11, 
    'Medrano' : 9, 
    'Pasteur' : 6,
    'Pueyrredon' : 7, 
    'Rosas' : 17, 
    'Tronador' : 14, 
    'Uruguay' : 4,
    'Avenida de Mayo' : 5, 
    'Constitucion' : 9, 
    'Diagonal Norte' : 4,
    'General San Martin' : 2, 
    'Independencia' : 7,
    'Lavalle' : 3,
    'Mariano Moreno' : 6,
    'Retiro' : 1,
    'San Juan' : 8,
    '9 de julio' : 2,
    'Agüero' : 7,
    'Bulnes' : 8,
    'Callao' : 4,
    'Catedral' : 1,
    'Congreso de Tucuman' : 15,
    'Facultad de Medicina' : 5,
    'Jose Hernandez' : 14,
    'Juramento' : 15,
    'Ministro Carranza' : 12,
    'Olleros' : 13,
    'Palermo' : 11,
    'Plaza Italia' : 10,
    'Pueyrredon.D' : 6,
    'Scalabrini Ortiz' : 9,
    'Tribunales' : 3,
    'Avenida La Plata' : 13, 
    'General Belgrano' : 5, 
    'Boedo' : 12, 
    'Bolivar' : 4,
    'Catalinas' : 2, 
    'Correo Central' : 3, 
    'Emilio Mitre' : 15, 
    'Entre Rios' : 8,
    'Independencia.H' : 6, 
    'Jose Maria Moreno' : 14, 
    'Jujuy' : 10,
    'Medalla Milagrosa' : 16, 
    'Pichincha' : 9, 
    'Pza. de los Virreyes' : 18,
    'Retiro E' : 1, 
    'San Jose' : 7, 
    'Urquiza' : 11, 
    'Varela' : 17,
    'Caseros' : 10, 
    'Cordoba' : 4, 
    'Corrientes' : 5, 
    'Facultad de Derecho' : 1,
    'Hospitales' : 12, 
    'Humberto I' : 8, 
    'Inclan' : 9, 
    'Las Heras' : 2, 
    'Once' : 6,
    'Patricios' : 11, 
    'Santa Fe' : 3,
    'Venezuela' : 7
}

In [47]:
# Example
caseros = (-34.635750180343,-58.3989275853601)
inclan = (-34.6293756575728,-58.4009695560165)

geo.great_circle(caseros,inclan)

Distance(0.7330234429571418)

In [99]:
# Add new column 'Orden'
def agregar_idx(row):
    return orden[row['ESTACION']]

df['orden'] = df.apply(agregar_idx,axis=1)

In [100]:
df

   LINEA       ESTACION        lat       long  orden
0      A         Acoyte -34.618280 -58.436429     13
1      A        Alberti -34.609834 -58.401208      8
2      A       Carabobo -34.626667 -58.456710     16
3      A  Castro Barros -34.611770 -58.421816     11
4      A       Congreso -34.609226 -58.392669      6
..   ...            ...        ...        ...    ...
85     H      Las Heras -34.587462 -58.397216      2
86     H           Once -34.608935 -58.406036      6
87     H      Patricios -34.638406 -58.405795     11
88     H       Santa Fe -34.594525 -58.402376      3
89     H      Venezuela -34.615242 -58.404732      7

[90 rows x 5 columns]

## Distances by line

### Line A

In [145]:
df_a = df[df['LINEA'] =='A'].sort_values('orden').reset_index()
df_a

    index LINEA        ESTACION        lat       long  orden
0      11     A   Plaza de Mayo -34.608810 -58.370968      1
1       9     A            Peru -34.608559 -58.374268      2
2      10     A         Piedras -34.608882 -58.379085      3
3       6     A            Lima -34.609100 -58.382232      4
4      16     A      Saenz Peña -34.609413 -58.386777      5
5       4     A        Congreso -34.609226 -58.392669      6
6       8     A           Pasco -34.609646 -58.398427      7
7       1     A         Alberti -34.609834 -58.401208      8
8      12     A  Plaza Miserere -34.609817 -58.406707      9
9       7     A           Loria -34.610782 -58.415186     10
10      3     A   Castro Barros -34.611770 -58.421816     11
11     15     A  Rio de Janeiro -34.615206 -58.429500     12
12      0     A          Acoyte -34.618280 -58.436429     13
13     13     A   Primera Junta -34.620405 -58.441178     14
14     14     A            Puan -34.623529 -58.448648     15
15      2     A        Carabobo -34.626667 -58.456710     16
16      5     A          Flores -34.629087 -58.463541     17
17     17     A     San Pedrito -34.630707 -58.469640     18

In [146]:
distancias_a = []

for i in range(0,len(df_a)-1):
    #print(df_a['ESTACION'][i])
    #print(df_a['ESTACION'][i+1])
    coor1 = (df_a['lat'][i], df_a['long'][i])
    coor2 = (df_a['lat'][i+1], df_a['long'][i+1])
    distancias_a.append(geo.distance(coor1,coor2).km)

print(distancias_a)

dist_total_A = sum(distancias_a)
print(dist_total_A)

prom_estaciones_A = dist_total_A/len(df_a)
print(prom_estaciones_A)

[0.30388795212904285, 0.4433045142066137, 0.2896785244071848, 0.4182900212571704, 0.5407775689147053, 0.5301918409697587, 0.2558777369721814, 0.5044215009285868, 0.784972088415734, 0.6178945414332218, 0.8012366369113179, 0.7211416428516316, 0.49525103100720136, 0.7677046903279293, 0.8171571970019071, 0.6815068909841022, 0.5874325859148646]
9.560726964633155
0.5311514980351753

### Line B

In [147]:
df_b = df[df['LINEA'] =='B'].sort_values('orden').reset_index()
df_b

    index LINEA           ESTACION        lat       long  orden
0      26     B    Leandro N. Alem -34.602989 -58.369930      1
1      25     B            Florida -34.603297 -58.375072      2
2      21     B  Carlos Pellegrini -34.603637 -58.380715      3
3      34     B            Uruguay -34.604094 -58.387296      4
4      19     B           Callao.B -34.604420 -58.392314      5
5      30     B            Pasteur -34.604643 -58.399474      6
6      31     B         Pueyrredon -34.604581 -58.405399      7
7      20     B      Carlos Gardel -34.604080 -58.411763      8
8      29     B            Medrano -34.603165 -58.420962      9
9      18     B     Angel Gallardo -34.602162 -58.431274     10
10     28     B            Malabia -34.598967 -58.439771     11
11     22     B            Dorrego -34.591718 -58.447573     12
12     24     B   Federico Lacroze -34.587198 -58.455029     13
13     33     B           Tronador -34.584095 -58.466227     14
14     27     B          Los Incas -34.581249 -58.474241     15
15     23     B         Echeverria -34.577797 -58.481014     16
16     32     B              Rosas -34.574319 -58.486385     17

In [148]:
distancias_b = []

for i in range(0,len(df_b)-1):
    #print(df_a['ESTACION'][i])
    #print(df_a['ESTACION'][i+1])
    coor1 = (df_b['lat'][i], df_b['long'][i])
    coor2 = (df_b['lat'][i+1], df_b['long'][i+1])
    distancias_b.append(geo.distance(coor1,coor2).km)

print(distancias_b)

dist_total_B = sum(distancias_b)
print(dist_total_B)

prom_estaciones_B = dist_total_B/len(df_b)
print(prom_estaciones_B)

[0.4728626981614965, 0.5190128911609516, 0.6057944882444524, 0.4617062820469787, 0.6572219056091468, 0.5435314577576131, 0.586309281248405, 0.8499467859466745, 0.9523532682671438, 0.856275382458998, 1.076523279375461, 0.8481566425465074, 1.0835058664633093, 0.8001520838831345, 0.7298974035671071, 0.6259809056210085]
11.669230622358388
0.686425330726964

### Line C

In [149]:
df_c = df[df['LINEA'] =='C'].sort_values('orden').reset_index()
df_c

   index LINEA            ESTACION        lat       long  orden
0     42     C              Retiro -34.591194 -58.374018      1
1     38     C  General San Martin -34.595057 -58.377819      2
2     40     C             Lavalle -34.601770 -58.378156      3
3     37     C      Diagonal Norte -34.604844 -58.379530      4
4     35     C     Avenida de Mayo -34.608983 -58.380611      5
5     41     C      Mariano Moreno -34.612617 -58.380444      6
6     39     C       Independencia -34.618126 -58.380174      7
7     43     C            San Juan -34.621917 -58.379921      8
8     36     C        Constitucion -34.627619 -58.381434      9

In [150]:
distancias_c = []

for i in range(0,len(df_c)-1):
    #print(df_a['ESTACION'][i])
    #print(df_a['ESTACION'][i+1])
    coor1 = (df_c['lat'][i], df_c['long'][i])
    coor2 = (df_c['lat'][i+1], df_c['long'][i+1])
    distancias_c.append(geo.distance(coor1,coor2).km)

print(distancias_c)

dist_total_C = sum(distancias_c)
print(dist_total_C)

prom_estaciones_C = dist_total_C/len(df_c)
print(prom_estaciones_C)

[0.5525182718245566, 0.745281790451082, 0.3635409427708639, 0.469794341863373, 0.4034165932401793, 0.611562163185156, 0.42120081882168525, 0.6476651604967286]
4.214980082653625
0.46833112029484725

### Line D

In [151]:
df_d = df[df['LINEA'] =='D'].sort_values('orden').reset_index()
df_d

    index LINEA              ESTACION        lat       long  orden
0      48     D              Catedral -34.607802 -58.373956      1
1      44     D            9 de julio -34.604245 -58.380574      2
2      59     D            Tribunales -34.601587 -58.385142      3
3      47     D                Callao -34.599640 -58.393125      4
4      50     D  Facultad de Medicina -34.599757 -58.397924      5
5      57     D          Pueyrredon.D -34.594426 -58.402395      6
6      45     D                Agüero -34.591628 -58.407161      7
7      46     D                Bulnes -34.588237 -58.411294      8
8      58     D      Scalabrini Ortiz -34.585156 -58.415955      9
9      56     D          Plaza Italia -34.581411 -58.421196     10
10     55     D               Palermo -34.578422 -58.425711     11
11     53     D     Ministro Carranza -34.575178 -58.435014     12
12     54     D               Olleros -34.570012 -58.444668     13
13     51     D        Jose Hernandez -34.566215 -58.452126     14
14     49     D   Congreso de Tucuman -34.555642 -58.462378     15
15     52     D             Juramento -34.562309 -58.456489     15

In [152]:
distancias_d = []

for i in range(0,len(df_d)-1):
    #print(df_a['ESTACION'][i])
    #print(df_a['ESTACION'][i+1])
    coor1 = (df_d['lat'][i], df_d['long'][i])
    coor2 = (df_d['lat'][i+1], df_d['long'][i+1])
    distancias_d.append(geo.distance(coor1,coor2).km)

print(distancias_d)

dist_total_D = sum(distancias_d)
print(dist_total_D)

prom_estaciones_D = dist_total_D/len(df_d)
print(prom_estaciones_D)

[0.7240537378334854, 0.5123621309843691, 0.7634690338011642, 0.44036873992404196, 0.7197517866010321, 0.5361862509807813, 0.5340627396587931, 0.5474768067226319, 0.6354174452041607, 0.5306619683178698, 0.926268030120199, 1.0551129856243024, 0.8035792437555017, 1.503711169711885, 0.9160626279853211]
11.148544697225539
0.6967840435765962

### Line E

In [153]:
df_e = df[df['LINEA'] =='E'].sort_values('orden').reset_index()
df_e

    index LINEA              ESTACION        lat       long  orden
0      74     E              Retiro E -34.592114 -58.375850      1
1      63     E             Catalinas -34.596597 -58.371700      2
2      64     E        Correo Central -34.603014 -58.370413      3
3      62     E               Bolivar -34.609242 -58.373684      4
4      67     E      General Belgrano -34.612849 -58.377581      5
5      68     E       Independencia.H -34.617937 -58.381535      6
6      75     E              San Jose -34.622339 -58.385149      7
7      66     E            Entre Rios -34.622720 -58.391512      8
8      72     E             Pichincha -34.623110 -58.397068      9
9      70     E                 Jujuy -34.623866 -58.402937     10
10     76     E               Urquiza -34.624654 -58.409391     11
11     61     E                 Boedo -34.625366 -58.415533     12
12     60     E      Avenida La Plata -34.627015 -58.426789     13
13     69     E     Jose Maria Moreno -34.628018 -58.433816     14
14     65     E          Emilio Mitre -34.631042 -58.442171     15
15     71     E     Medalla Milagrosa -34.636389 -58.450278     16
16     77     E                Varela -34.640137 -58.457892     17
17     73     E  Pza. de los Virreyes -34.643312 -58.461652     18

In [154]:
distancias_e = []

for i in range(0,len(df_e)-1):
    #print(df_a['ESTACION'][i])
    #print(df_a['ESTACION'][i+1])
    coor1 = (df_e['lat'][i], df_e['long'][i])
    coor2 = (df_e['lat'][i+1], df_e['long'][i+1])
    distancias_e.append(geo.distance(coor1,coor2).km)

print(distancias_e)

dist_total_E = sum(distancias_e)
print(dist_total_E)

prom_estaciones_E = dist_total_E/len(df_e)
print(prom_estaciones_E)

[0.6262293017806668, 0.7216038518795127, 0.7533058216981371, 0.5364807382234346, 0.670913130826612, 0.5901699390088975, 0.5850573075594849, 0.5113825078790841, 0.544660305074979, 0.5982947670693087, 0.5687571601485116, 1.0483005863856203, 0.653914361790702, 0.8363271447854096, 0.9510739502276526, 0.8125184914263364, 0.49283069440982635]
11.501820060174175
0.6389900033430097

### Line H

In [155]:
df_h = df[df['LINEA'] =='H'].sort_values('orden').reset_index()
df_h

    index LINEA             ESTACION        lat       long  orden
0      81     H  Facultad de Derecho -34.583036 -58.391019      1
1      85     H            Las Heras -34.587462 -58.397216      2
2      88     H             Santa Fe -34.594525 -58.402376      3
3      79     H              Cordoba -34.598455 -58.403721      4
4      80     H           Corrientes -34.604490 -58.405450      5
5      86     H                 Once -34.608935 -58.406036      6
6      89     H            Venezuela -34.615242 -58.404732      7
7      83     H           Humberto I -34.623092 -58.402323      8
8      84     H               Inclan -34.629376 -58.400970      9
9      78     H              Caseros -34.635750 -58.398928     10
10     87     H            Patricios -34.638406 -58.405795     11
11     82     H           Hospitales -34.641269 -58.412385     12

In [156]:
distancias_h = []

for i in range(0,len(df_h)-1):
    #print(df_a['ESTACION'][i])
    #print(df_a['ESTACION'][i+1])
    coor1 = (df_h['lat'][i], df_h['long'][i])
    coor2 = (df_h['lat'][i+1], df_h['long'][i+1])
    distancias_h.append(geo.distance(coor1,coor2).km)

print(distancias_h)

dist_total_H = sum(distancias_h)
print(dist_total_H)

prom_estaciones_H = dist_total_H/len(df_h)
print(prom_estaciones_H)

[0.7511390058591128, 0.9155281264160305, 0.4530679966290629, 0.6880179784847263, 0.4960246581021173, 0.7098064761771841, 0.8984340593411722, 0.7079932043913867, 0.7315186280668952, 0.695171611611887, 0.6826262930754792]
7.729328038155054
0.6441106698462545

## Final table with distances info

In [157]:
distancias = {
    'lineas' : ['A','B','C','D','E','H'],
    'recorrido total' : [dist_total_A,dist_total_B,dist_total_C,dist_total_D,dist_total_E,dist_total_H],
    'distancia promedio entre estaciones' : [prom_estaciones_A,prom_estaciones_B,prom_estaciones_C,prom_estaciones_D,prom_estaciones_E,prom_estaciones_H]
}

df_distancias = pd.DataFrame(data = distancias)
df_distancias

  lineas  recorrido total  distancia promedio entre estaciones
0      A         9.560727                             0.531151
1      B        11.669231                             0.686425
2      C         4.214980                             0.468331
3      D        11.148545                             0.696784
4      E        11.501820                             0.638990
5      H         7.729328                             0.644111

In [158]:

df_distancias.to_csv('distancias_subtes.csv', index = False)